.commentContainer {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;

  border-bottom: 2px solid rgb(185, 185, 185);
}

.topCommentInfo {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.topCommentInfo span {
  margin-right: 10px;
}

.commentAuthor {
  font-weight: bold;
  margin-right: 10px;
}

.commentAuthor:hover {
  text-decoration: underline;
}

.fromNowTime, .commentLikes {
  font-size: 14px;
}

.fromNowTime {
  color: gray;
}

.commentContent {
  margin: 30px auto;
}

.commentActions {
  display: flex;
  justify-content: flex-end;
  margin: 15px auto;
}

.commentActions span {
  margin-right: 30px;
}

.fa-thumbs-up, .fa-thumbs-down, .fa-reply {
  cursor: pointer;
  color: rgb(73, 73, 73);
}

.liked, .disliked {
  color: #0A7DDA;
}

.commentActions span .commentUpvotes {
  margin: auto 10px;
}

.replyComment {
  border-bottom: none;
  margin-left: 20px;
  border-left: 3px solid black;
  padding-left: 15px;
}

.profilePicImageSmall {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}