.smallPostContainer {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.linkPostContainer {
  display: flex;
  width: 100%;
}

.smallPostInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  margin-left: 10px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.smallPostTitle {
  font-weight: bold;
  font-size: 18px;
}

.smallPostContainer {
  height: 100%;
}

.smallPostContainer img {
  height: 100%;
  width: 150px;
}

.additionalInfo span {
  margin-right: 10px;
  color: rgb(105, 105, 105);
}

.smallPostContainer .fa-comment {
  margin-right: 5px;

}

.smallPostCommentContent {
  color: #696969;
}

.postVotes {
  text-align: center;
  margin-right: 20px;
}

.postVotesNum {
  margin: 5px auto;
}

@media only screen and (max-width: 600px) {
  .smallPostContainer img {
    flex: 1;
    height: auto;
    width: 100%;
  }
  
  .linkPostContainer {
    display: block;
  }
}