.smallPostContainer {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.smallPostInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  margin-left: 10px;
  font-family: Fira Sans;
}

.smallPostTitle {
  font-weight: bold;
  font-size: 18px;
}

.smallPostContainer {
  height: 100%;
}

.smallPostContainer img {
  height: 100%;
  width: 150px;
}

.additionalInfo span {
  margin-right: 10px;
  color: rgb(105, 105, 105);
}

.fa-comment {
  margin-right: 5px;
}