.postFormContainer {
  padding: 30px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.postFormContainer input {
  margin-bottom: 20px;
  width: 100%;
}

input[type="checkbox"] {
  margin-bottom: 0px;
  width: auto;
}

.categoriesContainer {
  margin-bottom: 20px;
}

.postArticleButton, .editArticleButton {
  background-color: #3075C1;
  color: white;
  border: none;
}

.postArticleButton:hover, .editArticleButton:hover {
  background-color: #215083;
}

@media only screen and (max-width: 600px) {
  .postFormContainer {
    padding: 5px;
  }
}