.postFormContainer {
  padding: 30px;
  font-family: Fira Sans;
}

input {
  margin-bottom: 20px;
}

input[type="checkbox"] {
  margin-bottom: 0px;
  width: auto;
}

.categoriesContainer {
  margin-bottom: 20px;
}

.postArticleButton {
  background-color: #3075C1;
  color: white;
  border: none;
}

.postArticleButton:hover {
  background-color: #215083;
}