.postsContainer {
  padding: 20px;
}

.postsContainer .fa-search {
  cursor: pointer;
}

.searchBar {
  font-size: 18px;
  width: 20%;
  border: none;
  border-bottom: 1px solid lightgray;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.searchBar:focus {
  width: 80%;
  outline: none;
}