.headerContainerTop, .headerContainerBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 20px;
  background-color: #3075C1;
  color: #ffffff;
}

.headerContainerTop button {
  border: none;
  border-radius: 6px;
  padding: 6px;
  margin-right: 10px;
  background-color: #ffffff;
  cursor: pointer;
}

.mainTitle {
  text-align: center;
  font-family: Lobster;
  font-size: 30px;
}

.headerContainerTopLeft, .userButtons {
  flex-grow: 1;
  flex-basis: 0;
}

.mainTitle a {
  color: #ffffff;
}

.userButtons {
  text-align: right;
  align-self: center;
}

.userButtons a {
  color: #fff;
  margin-right: 10px;
}

.userButtons a:hover {
  text-decoration: underline;
}

.headerContainerBottom {
  justify-content: center;
  gap: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  border-top: 1px solid #2462a5;
}

.headerContainerBottom a {
  color: white;
  font-weight: 300;
}

.fa-search {
  margin-right: 15px;
}

.fa-chevron-down, .fa-chevron-up {
  margin-left: 5px;
  font-size: 15px;
}

.loggedInUserName {
  cursor: pointer;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  border-radius: 7px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-content a, .dropdown-content span {
  color: gray;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover, .dropdown-content span:hover {
  color: black;
  background-color: #dcedff;
  cursor: pointer;
}


.dropdown:hover .dropdown-content {display: block;}