.orOption {
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 30px 0 40px; 
}

.orOption span {
  background-color: #D7E5F3;
  padding: 0 10px;
}

input {
  padding: 15px;
  width: 100%;
  border: 1px solid #c3d1e0;
  margin: 10px auto;
}

.names input {
  width: 100%;
}

.invalidInput {
  text-align: left;
  margin-left: 5px;
  font-size: 12px;
  color: red;
}

.loginQuery {
  margin-bottom: 20px;
}

a {
  color: black;
  cursor: pointer;
}