.registerContainer {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 20px;
  height: 100vh;
  background-color: #d7e5f3;
}

.registerContainer .fab, .registerContainer .fas {
  float: left;
  font-size: 20px;
}

.registerContainer button {
  padding: 15px;
  background-color: #ffffff;
  font-weight: 600;
  border: 1px solid #c3d1e0;
  margin-bottom: 20px;
}

.orOption {
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 30px 0 40px; 
}

.orOption span {
  background-color: #D7E5F3;
  padding: 0 10px;
}

.registerContainer input {
  padding: 15px;
  width: 95%;
  border: 1px solid #c3d1e0;
  margin: 10px auto;
}

.names {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.invalidInput {
  text-align: left;
  margin-left: 5px;
  font-size: 12px;
  color: red;
}

.loginQuery {
  margin-bottom: 20px;
}

a {
  color: black;
  cursor: pointer;
}

.passwordMeter {
  text-align: left;
  width: 50%;
}
meter.tooWeak::-webkit-meter-optimum-value {
  background: red;
}

meter.weak::-webkit-meter-optimum-value {
  background: red;
}

meter.medium::-webkit-meter-optimum-value {
  background: orange;
}

meter.strong::-webkit-meter-optimum-value {
  background: green;
}

.passwordContainer {
  text-align: left;
}

.errorMessage {
  color: red;
}